<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tqwc.feastweb.mapper.FavoriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tqwc.feastcommon.entity.Favorite">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="dish_id" property="dishId" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, dish_id, created_time
    </sql>

</mapper>
